*.pyc
.vscode/
.*.swp
mpk_dataset_cache/

run.py
main_distributed_video.py
main_video.py

run_train_grid.py

*.egg-info/
*.ipynb_checkpoints/

traces/
third_party/*

app/*/local/
evals/*/local/
configs/local
scripts/*/local/
configs/cwtemp/
*/dump_online_evals/*

MUJOCO_LOG.TXT

macros.py
CLAUDE.md

/data
/datasets
/outputs
/logs
/saved_checkpoints
/.hf_chache
/_local/**
